---
import type { HTMLTag, Polymorphic } from 'astro/types'

import { cn } from '../../utils'
import Icon from './Icon.astro'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  as?: string
  title?: string
  href?: string
  variant?: 'button' | 'pill' | 'back' | 'ahead'
  target?: string
  class?: string
}

const { as: Tag = 'a', class: className, title, href, variant = 'button', ...props } = Astro.props
---

<Tag
  class={cn(
    'group inline-flex items-center gap-x-1 rounded-lg bg-muted border px-2 py-1 text-sm text-muted-foreground transition-all hover:bg-card no-underline',
    !href && 'cursor-default',
    variant === 'pill' && 'rounded-xl',
    className
  )}
  href={href}
  data-astro-prefetch
  {...props}
>
  <slot name='before'>
    {
      variant === 'back' && (
        <Icon name='arrow-left-animated' class='size-4 stroke-muted-foreground group-hover:stroke-primary' />
      )
    }
  </slot>
  <slot>
    {title && <p class='my-0'>{title}</p>}
  </slot>
  <slot name='after'>
    {
      variant === 'ahead' && (
        <Icon name='arrow-right-animated' class='size-4 stroke-muted-foreground group-hover:stroke-primary' />
      )
    }
  </slot>
</Tag>
