---
import { PostPreview } from '@/components/pages'
import { getEnrichedVaultCollection, groupCollectionsByYear, sortMDByDate } from '@/utils/vault'
import { Button } from '@/components/user'
import PageLayout from '@/layouts/BaseLayout.astro'

export const prerender = true

const allContent = await getEnrichedVaultCollection()
const allContentByDate = sortMDByDate(allContent)
const datedContent = allContentByDate.filter((entry) => entry.data.updatedDate ?? entry.data.publishDate)
const allContentByYear = groupCollectionsByYear(datedContent)

const isPost = (entry: (typeof allContent)[number]) => entry.data.type.includes('post')

const meta = {
  description: 'A list of everything I have written, including notes and posts',
  title: 'Archives'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/blog' variant='back' />

  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Archives</h1>
    </div>

    {allContent.length === 0 && <p>No content yet.</p>}

    <section id='content' class='animate' aria-label='Archive list'>
      {
        allContentByYear.map(([year, entries]) => (
          <div class='relative mt-20'>
            <h2
              class='absolute -start-6 -top-16 z-0 text-9xl font-bold text-transparent opacity-12 dark:opacity-25'
              style='-webkit-text-stroke-width:2px;-webkit-text-stroke-color:hsl(var(--foreground)/var(--un-text-opacity))'
            >
              <samp>{year}</samp>
            </h2>
            <p class='px-5 text-muted-foreground'>
              {entries.length} item{entries.length > 1 && 's'}
            </p>
            <ul class='flex flex-col text-start'>
              {entries.map((entry) => (
                isPost(entry) ? (
                  <PostPreview post={entry} withType class='border-0 bg-transparent py-2' />
                ) : (
                  <PostPreview
                    withType
                    note={{
                      title: entry.data.title || entry.slug,
                      slug: entry.slug,
                      date: entry.data.updatedDate ?? entry.data.publishDate ?? new Date(0),
                      draft: entry.data.publish === false,
                      type: entry.data.type || 'note'
                    }}
                    class='border-0 bg-transparent py-2'
                  />
                )
              ))}
            </ul>
          </div>
        ))
      }
    </section>
  </main>
</PageLayout>
