---
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'


const headings = [
  { depth: 2, slug: 'projects', text: 'Personal Projects' },
  { depth: 2, slug: 'works', text: 'Works' },
  { depth: 2, slug: 'ctf-participations', text: 'CTF Participations' }
  ]
---

<PageLayout title='Projects' {headings}>
  <p>Github Activities:</p>
  <p>
    <img
      src='https://ghchart.rshah.org/659eb9/nahilrasheed'
      alt='github activities'
      loading='lazy'
    />
  </p>

  <p>TryHackMe Badge:</p>
  <p>
    <img
      src='https://tryhackme-badges.s3.amazonaws.com/0xnhl.png?update=1'
      alt='tryhackme badge'
      loading='lazy'
    />
  </p>

  <h2 id='projects'>Personal Projects</h2>
  <ProjectSection
    projects={[
      {
        name: 'Revx',
        description:
          'A peer-driven platform where students can upload projects, review peer work, and explore a collaborative space for innovation and feedback.',
        links: [
          { type: 'github', href: 'https://github.com/nahilrasheed/RevX' },
          {
            type: 'site',
            href: 'https://revx-7r6.pages.dev/'
          }
        ]
      }
    ]}
  />

  <h2 id='works'>Works</h2>
  <ProjectSection
    projects={[
      {
        name: 'SGOU',
        description:
          'State Gazetted Officers Union (SGOU) Website.',
        links: [
          {
            type: 'site',
            href: 'https://sgou.org/'
          }
        ]
      }
    ]}
  />

  <h2 id='ctf-participations'>CTF Participations</h2>
  <ProjectSection
    projects={[
      {
        name: 'ApoorvCTF 26',
        description:
          'Annual CTF organized by the Cybersecurity club at IIIT Kottayam. Placed 47th among 2500+ teams.',
        links: [
          {
            type: 'doc',
            href: '/vault/writeups/apoorvctf2026'
          }
        ]
      }
    ]}
  />
</PageLayout>
