---
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'


const headings = [
  { depth: 2, slug: 'projects', text: 'Personal Projects' },
  { depth: 2, slug: 'works', text: 'Works' }
  ]
---

<PageLayout title='Projects' {headings}>
  <p>Github Activities:</p>
  <p>
    <img
      src='https://ghchart.rshah.org/659eb9/nahilrasheed'
      alt='github activities'
      loading='lazy'
    />
  </p>

  <h2 id='projects'>Personal Projects</h2>
  <ProjectSection
    projects={[
      {
        name: 'Revx',
        description:
          'A peer-driven platform where students can upload projects, review peer work, and explore a collaborative space for innovation and feedback.',
        links: [
          { type: 'github', href: 'https://github.com/nahilrasheed/RevX' },
          {
            type: 'site',
            href: 'https://revx-7r6.pages.dev/'
          }
        ]
      }
    ]}
  />

  <h2 id='works'>Works</h2>
  <ProjectSection
    projects={[
      {
        name: 'SGOU',
        description:
          'State Gazetted Officers Union (SGOU) Website.',
        links: [
          {
            type: 'site',
            href: 'https://sgou.org/'
          }
        ]
      }
    ]}
  />
</PageLayout>
